######################根据各项目情况修改####################
#服务器(虚拟机)IP
SERVER_IP="10.211.55.10"
#服务器登陆用户名
USERNAME="root"
#服务器登陆密码
PASSWORD="523588"
#项目tomcat的目录
TOMCAT="/root/tomcat-template/"
#jenkins的job构建出的war包的存放位置
WARPATH="$WORKSPACE/target"
#部署服务器的JAVA_HOME变量值
JAVAHOME="/usr/local/java/jdk1.8"
#######################下面内容不需要修改####################
sh /root/jenkins/scripts/deploy.sh $SERVER_IP $USERNAME $PASSWORD $TOMCAT $WARPATH $JAVAHOME